# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Database
DATABASE_SSL=0
DATABASE_ENGINE=postgres

# -- Get Values from AWS Secret Manager  -- #
DATABASE_HOST=************************.us-east-1.rds.amazonaws.com
DATABASE_NAME=prismaDb
DATABASE_USER=postgres
DATABASE_PASSWORD=*****************************
DATABASE_PORT=5432

DATABASE_URL="${DATABASE_ENGINE}://${DATABASE_USER}:${DATABASE_PASSWORD}@${DATABASE_HOST}:${DATABASE_PORT}/${DATABASE_NAME}?schema=${DATABASE_NAME}&connection_limit=1"
